
<div class="content-box">
    <div class="container container-margin">
        <h3><b>Acerca del proyecto:</b></h3>
        <h4><b>Nombre:</b> </h4> <h5>- Héctor Adrián Martínez Vázquez</h5>
        <h4><b>Folio:</b> </h4> <h5>- 177472</h5>
        <h4><b>Descripción:</b> </h4> <h5>- Proyecto final de curso DAW</h5>
    </div>
</div>