<div class="container container-outside">
    <div class="row">
        <div class="six columns">
            <p class="container-outside-style">
                <i class="fa fa-thermometer" style="color: #cd5070;"></i>&nbsp;&nbsp;Laboratorista / 
                <a href="/idoctor/ver-laboratorista">
                    <i class="fa fa-list"></i>&nbsp;&nbsp;Ver Lista
                </a>
                &nbsp;/&nbsp;
                <i class="fa fa-file-text"></i>&nbsp;&nbsp;Forma: Editar Laboratorista
            </p>
        </div>
    </div>
</div>
<div class="content-box">
    <div class="container container-margin">
        <form action="/idoctor/editar-laboratorista/{{labDatos.id_lab}}" method="POST" class="form-margin" enctype="multipart/form-data">
            <h3>Editar Laboratorista</h3>
            <div class="row">
                <div class="six columns">
                    <label>Nombre:</label>
                    <input class="u-full-width" type="text" value="{{labDatos.nombre_lab}}" placeholder="Nombre Apellidos" name="nombre_lab" autofocus>
                </div>
                <div class="six columns">
                    <label>Alias:</label>
                    <input class="u-full-width" type="text" value="{{labDatos.alias_lab}}" placeholder="Enf. Perez" name="alias_lab">
                </div>
            </div>
            <div class="row">
                <div class="two columns">
                    <label>Password:</label>
                    <input type="radio" name="passOpt" onclick="cmbPassword(false, 'password_lab')" checked>
                    No cambiar
                    <br>
                    <input type="radio" name="passOpt" onclick="cmbPassword(true, 'password_lab')">
                    Cambiar
                </div>
                <div class="four columns">
                    <label>&nbsp;</label>
                    <p id="cambiar-password" class="no-margin"></p>
                </div>
                <div class="six columns">
                    <label>Cambiar foto de perfil:</label>
                    <input type="file" name="foto_lab">
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <label>&nbsp;</label>
                    <input class="button-primary u-full-width" type="submit" value="Guardar Cambios">
                </div>
            </div>
        </form>
    </div>
</div>