{{#if success}}
    <div id="alerta" class="row div-alertas">
        <p class="alerta-success"><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;{{success}}</p>
    </div>
{{/if}}

{{#if failure}}
    <div id="alerta" class="row div-alertas">
        <p class="alerta-failure"><i class="fa fa-thumbs-down"></i>&nbsp;&nbsp;{{failure}}</p>
    </div>
{{/if}}