<div class="navbar">
    <p class="main-text">
        iDOCTOR (v 1.0)
    </p>
</div>
<div class="dropdown" style="float:right;">
    <a class="dropbtn"><i class="fa fa-sort-down"></i></a>
    <div class="dropdown-content">
        <a href="/home">Perfil</a>
        <a href="#">Acerca de</a>
        <a href="/logout">Cerrar Sessión</a>
    </div>
</div>
