<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iDoctor</title>
    <link rel="icon" href="/images/icon.ico">
    {{!-- Fonts --}}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    {{!-- Icons --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- Styles --}}
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- Javascript --}}
    <script src="/js/idoctor-utilities.js"></script>
    <script src="/js/validate-form.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script>
        $(function(){
            $('#alerta').delay(3000).fadeOut();
        });
    </script>
</head>
<body class="login">
    {{{ body }}}
</body>
</html>